@model IEnumerable<IronDome.Models.Attack>

@{
    ViewData["Title"] = "Manage Attacks";
}

<h1>ManageThreats</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThreatType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThreatSource)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsInterceptedOrExploded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeToImpact)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThreatType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThreatSource)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsInterceptedOrExploded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeToImpact)
                </td>
                <td>
                    @{
                        string ActionName = item.ActiveID == null ? "StartAttack" : "EndAttack";
                        string BtnText = item.ActiveID == null ? "Launch" : "Terminate";
                        string ClassName = item.ActiveID == null ? "btn btn-danger" : "btn btn-warning";
                    }
                    <form asp-action="@ActionName" asp-route-attackId="@item.ID">
                        <input type="submit" value="@BtnText" class="@ClassName" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
